* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none
}

.tpl-bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: relative;
}

.abs {
  position: absolute;
}

.unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

